<%= form_for [@location, @recommendation] do |f| %>

  <p>
    <%= f.label :Place %><br>
    <%= f.text_field :recommended_place %>
  </p>

  <p>
    <%= f.label :Description %><br>
    <%= f.text_field :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
