
<% @location.recommendations.each do |recommendation| %>
  <p>Recommended Place: <%= recommendation.recommended_place %></p>
  <p>Location: <%= recommendation.location.city_name %></p>
  <p>User: <%= User.find(recommendation.user_id) %></p>
  <p><%= recommendation.body %></p>
<% end %>

<p><%= link_to "Back", location_recommendations_path %></p>
