<div class="jumbotron">
<h1><%= @recommendation.recommended_place %></h1>
</div>

<div>
<p>User: <%= @recommendation.user.name %></p>
<p><%= @recommendation.body %></p>
</div>

<%# trying to make edit and delete only show if rec belongs to logged in user %>
<%# if @user == @correct_user %>
  <p><%= link_to "Edit", edit_location_recommendation_path(@location, @recommendation), class: "btn btn-primary" %></p>
  <p><%= link_to "Delete", location_recommendation_path(@location, @recommendation), method: :delete, class: "btn btn-primary", data: {confirm: "Are you sure?"} %></p>
<%#end%>

<p><%= link_to "Back", :back, class: "btn btn-primary" %></p>
