<div class="center jumbotron">
<h1><%= @location.city_name %>, <%= @location.state_name %></h1>
<p><%= @location.location_description %></p>
</div>

<% @location.recommendations.each do |recommendation| %>
  <p><%= link_to recommendation.recommended_place, location_recommendation_path(@location, recommendation) %></p>
<% end %>


<p><%= link_to "New Recommendation", new_location_recommendation_path(@location, @recommendation), class: "btn btn btn-primary" %></p>

<%# if can? :create, @recommendation %>
<%#= link_to 'New Recommendation', new_location_recommendation_path(@location), class: "btn btn btn-primary" %>
<%# end %>



<p><%= link_to "Back", :back, class: "btn btn btn-primary" %></p>
