<h1><%= @location.city_name %>, <%= @location.state_name %>, <%= @location.country_name %></h1>


<%# @recommendations = [] %>
<% @location.recommendations.each do |recommendation| %>
  <%= recommendation.body %>
<% end %>

<p><%= link_to 'Back', locations_path %><p>
