<h1><%= @location.city_name %>, <%= @location.state_name %>, <%= @location.country_name %></h1>


<%# @recommendations = [] %>
<% @location.recommendations.each do |recommendation| %>
  <p>
    <%= recommendation.body %>
    <%#= link_to 'Edit', edit_location_recommendation_path(@location, recommendation) %>
  </p>
<% end %>

<%# = render partial: 'recommendations/form' %>
<p><%= link_to 'New Recommendation', new_location_recommendation_path(@location, @recommendation) %></p>
<p><%= link_to 'Back', locations_path %><p>
